.leaflet-popup-content-wrapper
{
    padding:0;
    overflow: hidden;
}
.leaflet-popup-content-wrapper .leaflet-popup-content
{
    margin:0;

}
.leaflet-popup-content-wrapper h6{
    font-size: 16px;
    color: white;
    padding: 16px;
    text-align: center;
}
.leaflet-popup-content-wrapper p
{
    font-size: 14px;
    margin-bottom: 14px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
}
.leaflet-popup-content-wrapper .detail-link
{
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}
.leaflet-popup-close-button {
  color: white !important;
}
