.map-instruct
{
    text-align: center;
    color:#032e56;
    font-weight: 600;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 30px;
    
}
.map-label
{
    text-align: center;
    font-size: 1.7em;
}
.map-label label
{
    color:#032e56;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 30px;
    opacity: 0.8;
}
.map-wrapper {
  max-width: 900px; /* or 80%, or any value */
  margin: 0 auto;    /* center it */
  border: 2px solid #97d4ea;
  border-radius: 10px;
  overflow: hidden;  /* optional: round corners on the map */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .map-wrapper {
    margin: 10px;
    max-width: 95%;
  }
}
